{{!-- sample(t1) --}}
{{!-- app/templates/user.hbs --}}
Hello {{user.firstName}} {{user.lastName}}
{{!-- end-sample --}}

{{!-- sample(t2) --}}
{{!-- app/templates/user.hbs --}}
Hello {{user.fullName}}
{{!-- end-sample --}}

{{!-- sample(t3) --}}
{{!-- app/templates/user.hbs --}}
<div>
  {{input value=user.firstName }}
  {{input value=user.lastName }}
</div>
Hello {{user.fullName}}
{{!-- end-sample --}}
